h2{
    background-color: yellow;
    color:white
}

img{
    width: 350px;
    left: 350px;
    margin: 10px;
    
}
h3{
    background-color: yellow;
    color:white;
}
h4{
    background-color: yellow;
    color:white
}